

body {
    font-family: "Fuzzy Bubbles", Arial, sans-serif; /* Fallback to Arial if "Fuzzy Bubbles" isn't available */
}

#notes-container {
    margin: 40px auto;
    max-width: 400px;
    padding: 20px;
    border-radius: 5px;
}
#notes-container textarea {
    width: 100%;
    height: 200px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid teal;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "Fuzzy Bubbles", Arial, sans-serif; /* Apply the font to the textarea */
}
#notes-container button {
    padding: 8px 16px;
    background-color: #ffd8a2;
    border-width: 2px;
    color: #be7eff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#notes-container button:hover {
    background-color:  #dfc0ff;
}

body {
    background: rgb(223,192,255);
    background: linear-gradient(90deg, rgba(223,192,255,1) 0%, rgba(255,196,196,1) 50%, rgba(255,216,162,1) 100%);
}
h2 {
    color: #be7eff;
}